node_modules
npm-debug.log
.git
.gitignore
.dockerignore
.vercel
.firebaserc
firebase.json
firestore.rules
firestore.indexes.json
database.rules.json
client/node_modules
client/dist
server/node_modules
.env
client/.env
server/.env
*.md
Dockerfile
.github
